@page "/user/password/{Id}"

@using HappyCompany.WebApp.Services.Interfaces

<div class="card">
    <h4 class="card-header">Update User Info</h4>
    <div class="card-body">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Old PassWord</label>
                <InputText @bind-Value="model.oldPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.oldPassword)" />
            </div>
             <div class="form-group">
                <label>PassWord</label>
                <InputText @bind-Value="model.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>

             <div class="form-group">
                <label>Confirm PassWord</label>
                <InputText @bind-Value="model.ConfirmPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.ConfirmPassword)" />
            </div>

            <button disabled="@loading" class="btn btn-primary">
                @if (loading) 
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Submit
            </button>
            <NavLink href="user/list" class="btn btn-link">Back</NavLink>
        </EditForm>
    </div>
</div>

@code {
    private ChangePasswordDto model = new ChangePasswordDto() ;
    private bool loading;

    [Parameter]
    public string Id { get; set; }

    [Inject]
    public IUserService userService { get; set; }
    [Inject]
    NavigationManager NavigationManager { get; set; }
    [Inject]
    IAlertService AlertService { get; set; }


    private async void OnValidSubmit()
    {
        model.userId = Id;

        var result = await userService.changePassword(model);
        if (result)
        {
            NavigationManager.NavigateTo("user/list");
            AlertService.Success("Data Updated Successfully");
        }
        else
            AlertService.Error("Error Occured");
        
    }

}
